@import url(form.css);

:root {
    --vert: rgba(234, 26, 26, 1);
    --typo: "Montserrat", sans-serif;
    --font-size: 1rem;
    --departd: rgba(234, 26, 26, 1);
    --degrade: linear-gradient(90deg, rgba(234, 26, 26, 1) 16%, rgba(131, 58, 180, 1) 77%, rgba(69, 88, 252, 1) 100%);
}
.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #f0f0f0;
  }
  
  .dark-mode {
    --navbar-color: #fff;
    --navbar-bg-color: #000;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--degrade);
  }
 
  ul {
    list-style: none;
  }

/* Basic style */
  body {
    margin: 0;
    font-size: var(--font-size);
    font-family: "Poppins", sans-serif;
  }
  
  .main-content {
    padding: 1rem;
  }

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.1rem;
    background: var(--departdgr);
    color: var(--navbar-color);
  }
  
  .navbar__links {
    display: flex;
  }
  
  .navbar__link {
    padding: 0 10px;
  }
  
  .navbar__link>a {
    color: var(--navbar-color);
    text-decoration: none;
  
  }

/*  */
  .burger {
    display: none;
  }
  
  body {
    min-height: 100vh;
    background: #f8f8f8;
    transition: 0.5s;
    color: black;
  }
  
  body.active {
    background: #2b2b2b;
    font-size: large;
    color: yellow;
  }
  
  #toggle {
    position: relative;
    display: block;
    width: 120px;
    height: 60px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  }
  
  #toggle.active {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
      inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
  }
  
  #toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  
    border-radius: 50%;
    transform: scale(0.9);
  
    transition: 0.5s;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
      inset 0 4px 4px rgba(255, 255, 255, 1),
      inset 0 -4px 4px rgba(255, 255, 255, 1);
  }
  
  #toggle.active .indicator {
    left: 60px;
    background: linear-gradient(to bottom, #444, #222);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
      inset 0 4px 4px rgba(255, 255, 255, 0.2),
      inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  }
/*  */

  header + section {
    background: var(--degrade);
    width: 100%;
    min-height: 511px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
    box-shadow: inset 10px 10px;
    flex-wrap: wrap;
  }
  header + section > a > figure {
    width: 9%;
    min-height: 480px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  header + section > a > figure > img {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* logo */
  header > a {
    display: block;
    width: 80px;
  }
  
  hgroup {
    width: 17.2%;
    width: 270px;
    margin-left: 5%;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 2vh;
    font-weight: 400;
  }
  h1,
  h2 {
    font-family: var(--typo);
  }
  
  #en {
    font-weight: 500;
    border-bottom: 5px solid black;
  }
  
  #seine {
    font-weight: 700;
    border-bottom: 5px solid black;
  }
  
  main > section:first-child {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vh;
    padding-bottom: 4vh;
    gap: 10px;
    /* gap = espace */
  }
  
  main > section:first-child > article {
    flex: 1;
    min-width: 270px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 3px black;
    padding-bottom: 20px;
    position: relative;
  }
  
  section:first-child > article :is(h3, p) {
    margin: 10px;
  }
  /* méthode pour rajouter un triangle a l'image (mettre une div class bleu entre l'article et figure et le mettre l'article en position relative) */
  .bleu {
    display: block;
    background: blue;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
  main {
    position: relative;
  }
  main > section:first-child > h2 {
    position: absolute;
    top: 0vh;
    width: 100%;
    color: black;
  }
  
  figure.velo > img {
    min-width: 100%;
    max-width: 100%;
  }
  .fa-heart {
    color: white;
    margin-top: 15px;
    margin-left: 10px;
  }
  .fa-heart:hover {
    color: red;
  }
  main > section:nth-child(2) {
    background: var(--departd) var(--degrade);
    display: flex;
    flex-wrap: wrap;
  }
  article.h,
  article.b {
    width: 100%;
    min-height: 400px;
    border: 1px solid white;
    position: relative;
    border-radius: 20px;
  }
  
  article.h {
    top: 10px;
    background: rgba(255, 255, 255, 0.2);
    min-height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  article.h > figure {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  article.h > a {
    display: block;
    text-align: center;
    background: rgb(255, 255, 255, 0.8);
    color: gray;
    border-radius: 30px;
    border: 1px solid white;
    width: 150px;
    padding: 10px 0;
    margin: 20px 0;
    text-decoration: none;
  }
  article.h > h2 {
    margin: 10px 0;
  }
  
  section case{
    background: red;
  }
  article.b {
    top: -390px;
    background: rgba(255, 255, 255, 0.38);
    min-height: 400px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 20vh;
    flex-direction: column;

  }
  section.apple {
    flex: 1;
    min-width: 270px;
    padding: 10px;
  }
  
  .paragraf {
    display: flex;
  }
  .paragraf > p {
    flex: 1;
    text-align: center;
  }
  .paragraf > p > strong {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
  }
  @media screen and(min-width:768px) {
    main {
      width: 80%;
      background: white;
      margin: auto;
    }
    header + section {
      background: var(--departd) var(--degarde);
      width: 100%;
      min-height: 511px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
      box-shadow: inset 10px 10px;
      flex-wrap: wrap;
    }
    header + section > a > figure {
      background: white;
      width: 9%;
      min-height: 480px;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    header + section > a > figure > img {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    header > a {
      display: block;
      width: 60px;
    }
  
    hgroup {
      width: 17.2%;
      width: 270px;
      margin-left: 5%;
    }
  }

  h1 {
    font-size: 40px;
    margin-bottom: 2vh;
    font-weight: 400;
  }

  h1,
  h2 {
    font-family: var(--typo);
  }

  #en {
    font-weight: 500;
    border-bottom: 5px solid;
  }

  #seine {
    font-weight: 700;
    border-bottom: 5px solid;
  }

  .navbar__link>a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--navbar-color);
    transition: width 0.4s;
  }

  .navbar__link:hover>a::after {
    width: 100%;
  }

  
  @media screen and (max-width: 767px) {
    main {
      width: 100%;
      padding: 5px;
    }
  
    header > a {
      display: block;
      width: 60px;
      margin: auto;
    }
  
    header + section {
      background: var(--vert);
      background: linear-gradient(90deg, rgba(234, 26, 26, 1) 16%, rgba(131, 58, 180, 1) 77%, rgba(69, 88, 252, 1) 100%);
      width: 100%;
      min-height: 511px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
      box-shadow: inset 10px 10px;
      flex-wrap: wrap;
      padding: 20px 0;
    }
  
    hgroup {
      width: 80%;
      width: 270px;
      margin-left: 5%;
    }
  /*  */
h1 {
    font-size: 40px;
    margin-bottom: 2vh;
    font-weight: 400;
    font-family: var(--typo);
    text-align: center;
  }

  #en {
    font-weight: 500;
    border-bottom: 5px solid;
  }

  #seine {
    font-weight: 700;
    border-bottom: 5px solid;
  }

  .navbar {
    width: 13%;
  }

  .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(234, 26, 26, 1) 16%, rgba(131, 58, 180, 1) 77%, rgba(69, 88, 252, 1) 100%);
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .show-nav .navbar__links {
    width: 100vw;
    transform: translateX(0);
  }

  .navbar__link {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }

  .show-nav .navbar__link {
    transform: translateX(0);
  }

  .navbar__link>a {
    display: block;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--navbar-color);
    transition: all 0.4s ease-in-out;
  }

  .navbar__link>a:hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }

  /* Toggle menu */
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
  }

  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: var(--navbar-color);
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  .bar::before,
  .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: var(--navbar-color);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }

  .bar::before {
    transform: translateY(-12px);
  }

  .bar::after {
    transform: translateY(12px);
  }

  .show-nav .bar {
    width: 0;
    background: transparent;
  }

  .show-nav .bar::before {
    transform: rotate(45deg);
  }

  .show-nav .bar::after {
    transform: rotate(-45deg);
  }

  /* Bonus - Animations */



/*  */


  .show-nav .first {
    transition: all 1s ease-out;
  }

  .show-nav .second {
    transition: all 1.1s ease-out;
  }

  .show-nav .third {
    transition: all 1.2s ease-out;
  }

  .show-nav .four {
    transition: all 1.3s ease-out;
  }

  .show-nav .fifth {
    transition: all 1.4s ease-out;
  }
}

/*  */

.btn-primary {
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: bold;
    color: black;
}
.btn:hover{
    color: black;
  padding-right: 100px;
}
.btn::before{
  content: "";
  position: absolute;
  background-color: rgb(226, 233, 215);
  -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
    bottom: 0;
}
.btn:hover::before{
  content: "";
  color: black;
  font-size: 25px;
  animation: bouton .8s;
   -webkit-animation: bouton .8s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.btn {
    text-decoration: none;
    font-weight: normal;
    margin: 10px 0px;
    transition: all 0.3s linear;
    text-decoration: none;
      line-height: 1.42857143;
  text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
      display: inline-block;
  position: relative;
  overflow: visible
}
@keyframes bouton {
  0%{
    left: 0px;
     right: 0px;
  }
  
  40%{
    left: calc(100% - 50px);
    right: -150px;
    width: 50px;
        text-indent: -60px;
  }
  95%{
    text-indent: 0;
  }
  100% {
    content: "→";
    left: calc(100% - 50px);
    right: -150px;
    width: 50px;
padding-top: 5px;
    
  }
}

/*  */

/* Barre 1 */
#barre1 .progress {
  
  width: auto;
  height: 20px;
  position: relative;
}

#barre1 .progress .action,
#barre1 .progress .empty
{
  border-radius: 10px;
  float: left;
  -webkit-transition: width 10s;
  transition: width 10s;
}

#barre1 .progress .action {
  border-radius: 10px;
  width: 0%;
  height: 100%;
  background-color: rgba(105, 14, 104, 0.79);
}

#barre1 .progress .empty {
  width: 100%;
  height: 100%;
  background-color: #95a5a6;
}

#barre1 .progress:hover > .action {
  width: 100%;
}

#barre1 .progress:hover > .empty {
  width: 0%;
}

#modal{ background: red;
position: fixed;
bottom: 0;
height: 30vh;
width:100%}

#modal:not(:target){display: block;
transition: .5s linear}

#modal:target{display: none;}



button a {
  position: relative;
  text-decoration: none;
  margin: 0 12px;
  padding: 0 12px;
  text-align: center;
}

button {

  position: relative;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.856);
  margin-top: 1vh;
  height: 5vh;
  border-radius: 50px;
  overflow: hidden;

  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;

  
}

#barre {
  position: absolute;
  left: 0;
  height: 48px;
  width: 0;
  background: linear-gradient(90deg, rgba(234, 26, 2, 1)1%, rgba(69, 88, 252, 1) 100%);
  bottom: 1px;
  border-radius: 50px;
  transition: 0.5s;
}